@model IEnumerable<SpaceShoes.Models.Kategoriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kampanyalar.KampanyaAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kampanyalar.KampanyaAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KategoriId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KategoriId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KategoriId })
        </td>
    </tr>
}

</table>
