@model SpaceShoes.Models.Kisiler

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Kisiler</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KisiAdi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KisiAdi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KisiSoyadi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KisiSoyadi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TelNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TelNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sifre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sifre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KullaniciAdi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Adresler.Adres)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adresler.Adres)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Iletisim.GelenMesaj)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Iletisim.GelenMesaj)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Roller.RolAdi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Roller.RolAdi)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.KisiId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
